<h1> Test Started at {{started_at}}</h1>

<table id="suite">
<tr>
<th> Test Group Name </th>
<th> Test Result </th>
<th> Total Testcases </th>
<th> Passed </th>
<th> Failed </th>
<th> Error </th>
<th> Details </th>
</tr>

